* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

.navbar {
    background: #131313;

    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1;

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: 80px;
    width: 100%;
    height: 100%;
    z-index: 1;
    pad: 0 50px;
    max-width: 1300px;
}

#navbar-logo {
    background-color: #3498db;
    background-image: linear-gradient(to top, #3498db, #2c3e50);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;

}

.navbar-item {
    /* height: auto; */
    height: 80px;

}

.navbar-links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    /* background: #833ab4; */
    background: #2c3e50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50);
    color: #fff;
    transition: all 0.3s ease;
}

.navbar-links:hover {
    color: #2c3e50;
    /* color: #9518fc; */
    transition: all 0.3s ease;
}


@media screen and (max-width: 960px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        pad: 0;
        background-color: rgba(0, 0, 0, 0.212);
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        background: black;
    }

    .navbar-menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar-logo {
        padding-left: 25px;

    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar-item {
        width: 100%;
    }

    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar-btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80%;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

    /* .navbar-toggle {
        display: none;
    } */

    .navbar-toggle.is-active .bar:nth-child(2) {
        /* transform: translateY(6px) rotate(45deg); */
        opacity: 0;
    }

    .navbar-toggle.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}


/* hero section */

.hero {
    background: #000;
    background: linear-gradient(to right, #161616, #000);
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;

}


.hero-heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: white;
}

.hero-heading span {

    background: #2c3e50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}

.hero-description {
    font-size: 60px;
    background: #9114ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f0eff, #da22ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.higlight {
    border-bottom: 4px solid rgb(132, 0, 255);

}

@media screen and (max-width: 768px) {
    .hero-heading {
        font-size: 60px;
    }

    .hero-description {
        font-size: 40px;
    }
}

/* about section */

.main {
    background-color: #131313;
    padding: 0 50px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;

}

.main-content {
    color: #fff;
    width: 100%;
}


.main-content h1 {
    background-color: #3498db;
    background-image: linear-gradient(to top, #3498db, #2c3e50);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}


.main-content h2{
    font-size: 4rem;
    background: #400870;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a11954, #4f0625);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main-content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main-btn{
    font-size: 1.8rem;
    background: #2c3e50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50);
    margin-top: 2rem;
    pad: 20px 60px;
    border-radius: 4px;
    border: none;
    cursor: none;
    position: relative;
    transform: all 0.35s;
    outline: none;
}

.main-btn a{
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.main-btn::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.35s;
    border-radius: 4px;
}
.main:hover{
    color: white;
}

.main:hover:after {
    width: 100%;

}

/